/* Main color scheme
  Text: #000000
  Main elements and their text color: #FFFFFF
  Highlighting color: #AC80F3
  Background: #F4F4F8
  Borders of elements: #D6D8E1
  Hover effect on buttons: #D3D8EA
 */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a minimum height for the html and body elements */
html,
body,
#root,
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f8 !important;
  font-family: "Poppins", sans-serif !important;
  word-wrap: break-word;
}

/* Header */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff !important;
  border-bottom: 1px solid #d6d8e1;
  font-weight: 700;
  z-index: 101;
}

.navbar-brand {
  width: auto;
}

.navbar img {
  margin-right: 1vw !important;
}

.connectKitBtn {
  margin-left: auto;
}

/* Side Navigation */
.nav-link {
  color: #000000 !important;
  font-weight: 500 !important;
  margin: 0 1vw;
}

.nav-link:hover {
  color: #ac80f3 !important;
}

.bottom {
  position: fixed !important;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Content Container */
.content-container {
  width: 100vw;
  min-height: 90vh;
  background-color: #f4f4f8 !important;
}

/* Any Page Content */
.page-content {
  width: 100%;
  min-height: 100%;
  padding: 20px;
  /* Add some padding for spacing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content h1 {
  font-size: 1.8rem;
  width: 90%;
  text-align: center;
  margin-bottom: 5vh;
}

.page-content a {
  font-size: 1.2rem;
  width: 90%;
  text-align: center;
  font-weight: 500;
}

.page-content a:hover {
  color: #ac80f3 !important;
  cursor: pointer;
}

.page-content-child {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Page Elements Styling */
.home-content,
.cc-content,
.cm-content,
.mc-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.home-content-child,
.cc-content-child,
.cm-content-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90%;
}

/* Home Page (Name registration in any community) Styling */
/* 1st registration page */
.hcc1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.hcc1-if {
  height: 12vh;
  width: 45%;
}

.hcc2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
}

.nameregister {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.hc-loading {
  height: 3vh;
  transform: scale(0.7);
}

#TextForm {
  margin-bottom: 4vh;
}

.btn-dark {
  background-color: #ac80f3 !important;
  border-color: #d6d8e1 !important;
}

.btn {
  transform: scale(1.3);
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: #d3d8ea !important;
}

.rcbt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5svh;
}

.rcbt-c1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.rcbt-c1 p {
  margin: 0;
}

.rcbt-c2 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.rcbt-c2 button {
  margin-left: 3vw;
  transform: scale(0.9);
}

/* 2nd registration page */
.form-check-input:checked {
  background-color: #ac80f3 !important;
  border-color: #d6d8e1 !important;
}

/* Modal styling */
.modal-content {
  margin: auto;
  height: auto;
  z-index: 1001 !important;
  /* Ensure the modal is on top of the overlay */
  padding: 20px !important;
  /* Add padding for content */
}

.modal-footer {
  border-top: none !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  /* Semi-transparent white background */
  backdrop-filter: blur(5px);
  /* Add a blur effect to the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure the overlay is on top of everything */
}

.mt {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  word-wrap: break-word;
}

.mt p,
a {
  height: auto;
  width: 100%;
  font-size: 1rem !important;
  color: var(--bs-modal-color) !important;
}

.mt a:hover {
  color: #ac80f3 !important;
  cursor: pointer;
}

.mtb {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--bs-modal-padding);
}

.btn-light {
  background-color: #ffffff !important;
  border-color: #037dd6 !important;
}

/* Community Creation and Management Pages Styling */
.cccc2,
.cmcc2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 80%;
}

.cccc1-if,
.cmcc1-if {
  width: 75%;
  height: 12vh;
}

/* Community management specific styling */
.cmcce2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  width: 100%;
}

.fw {
  width: 100%;
}

#noscale {
  transform: scale(1);
}

.cmcce3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 5vh;
  gap: 1rem;
}

.mccf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  width: 100%;
  margin-top: 5vh;
  gap: 1rem;
}

.mccfl {
  width: 100%;
}

.mccfr {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  align-items: end;
  gap: 1rem;
}

/* My Cards specific styling */
.mccc2 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.mcCard {
  width: 18rem;
  margin: 1rem;
}

.mcCard-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Profiles specific styling */
.pcCard {
  width: 30rem;
  margin: 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.errorInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.errorInfo img {
  height: 5rem;
  margin: 1rem;
}

/* airtable */
.airtable-embed {
  width: 90vw;
  height: 60vh;
  background: transparent;
  border: 1px solid #ccc;
}

/* Responsivity */
@media screen and (max-width: 768px) {
  /* Removes excessive padding from h1 */
  .page-content h1 {
    width: auto;
  }

  .page-content-child {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  /* Makes main page form responsive */
  .hcc1 {
    display: flex;
    flex-direction: column;
  }

  /* Removes  excessive spacing from create community page in smaller screens*/
  .cccc2 {
    width: 100%;
  }

  .hcc1-if {
    width: 100%;
  }

  .cccc1-if {
    width: 100%;
  }

  .rcbt {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .rcbt-c1 {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .airtable-embed {
    frameborder: 0;
  }
}
